table td {
    padding: 8px;
}

table th {
    padding: 8px;
}

table {
    margin-bottom: 16px;
}

/*.argument {
    display: flex;
    align-items: flex-start;
}

.argument code {
    flex-shrink: 0;
}

.argument p {
    margin-left: px;
}
*/

.rst-content table code {
    white-space: nowrap;
}

p {
    margin-bottom: 16px;
}